$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color : white;
$input-background: white;

$dark-btn-background: #131113;
$light-btn-background: #ececec;

$button-text-color: #fff;

$theme-color-2: rgb(255, 225, 0);
$theme-color-1: #0093DA;
$theme-color-3: #e6e7e8;
$theme-color-4: #FFE304;
$theme-color-5: #e6e7e8;
$theme-color-6: #d6cdca;

$primary-color: #0e2143;
$secondary-color: #8aaec0;
$muted-color: #909090;

$gradient-color-1 : #ec14;
$gradient-color-2 : #d15f12;
$gradient-color-3 : #f9a550;

$shadowOffsetsTop : 1 3 10 14 19;
$shadowBlursTop: 1.5 5 10 14 19;
$shadowOpacitiesTop: 0.04 0.1 0.19 0.25 0.3;

$shadowOffsetsBottom : 1 3 6 10 15;
$shadowBlursBottom: 3 6 6 5 6;
$shadowOpacitiesBottom: 0.04 0.1 0.2 0.22 0.22;

$logoPath: "/assets/img/logo_entre_mares-2.png";
$logoPathMobile: "/assets/img/logo_entre_mares.png";

$logoPathTopNav: "/assets/img/logo_entre_mares.png";

@import "../_mixins.scss";
@import "../_gogo.style.scss";
